
header {
    height: 100%;
    width: 100%;
    position: relative;
}
.headBlack {
    background-color: #000000;

}



.navbarCustom {
    margin-top: 12px;
    margin-right: -52px;
}


.navbar-brand {
    height: auto;
    padding: 0px 0px;
}
.navbar-inst {
    font-family: georgia, serif;
    /*background-color: #0c74ff;*/
    background-color: #FDFDFD; /*#007342;*/
    font-size: 14px;
    border-color: #FDFDFD;
}
.navbar-nav a {
    color: #4f565f;
}



.page-heading {
    background-color: rgb(253, 253, 253);
    background-position-x: center;
    background-position-y: center;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.top-panel  {
    border-bottom: solid 1px #fdfdfd;
    background-color: #fdfdfd;
    min-height: 69px;
    color: #007342;
    font-family: georgia, serif;
    font-size: 20px;
}
.top-contact {
text-align: right;
padding-top: 8px;
}


.top-info li {
    display: inline-block;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 15px;
    white-space: nowrap;
}
.top-info a {
      color: #c8c8c8;
}

.top-info .glyphicon {
    color: #c8c8c8;
    top: 3px;
}








.top-centr {
    background-image: url("images/4-1.jpg ");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 530px;
    position: relative;
}

.blog {
    margin-top: 25px;
}



.centr-title h2 {
    text-align: center;
    color: #4f565f;
    padding-top: 7px;
    font-size: 50px;
    font-family: "Tahoma";
    margin-top: 0px;
}
.centrTitleInfo h3 {
    font-family: "Tahoma";
    color: #4f565f;
    padding-left: 47px;
    margin-top: 0px;
    line-height: 37px;

}
.centrTitleInfoBlue {
      color: #264796;
}

.bannerButton {

    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 130px;
}
a.buttons {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #559bfd #000 #0f9ed7;
    border-radius: 6px;
    background: linear-gradient(#1f5af5, #6dd4f5) #4ab8f5;
    transition: 0.2s;
}
a.buttons:hover
{ background: linear-gradient(#264796, #198ff5) #21a3dc; }
a.buttons:active
{ background: linear-gradient(#3d12f5, #737ef5) #1915f5; }

.whoNeedThat-section {
    background-color: #FEFEFE;
    min-height: 710px;
    position: relative;
}
.whoNeedThat ul {
    list-style-image: url("images/galka.png");
}
.whoNeedThat-section li {
    padding-top: 13px;
}
.whoNeedThat {
    padding-top: 40px;
}
.whoNeedThat-section .img-responsive {
    height: auto;
    width: 188px;
    margin-top: 50px;
}
.whom {
    font-size: 26px;
    color: #4f565f;
    text-align: right;
}
.whomList {
    font-size: 16px;
    color: #4f565f;
}
.whoThat {
    text-align: center;
    font-size: 26px;
    color: #4f565f;
    margin-top: 20px;
}
.whoList ul li {
background: url(images/galka2.png) no-repeat -4px 11px;
padding-left: 20px;
list-style-type: none;
}

.whoList li {
    font-size: 16px;
    color: #4f565f;
}






.who {
    background-image: url("images/16.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 710px;
    position: relative;
}

.shema {
    background-image: url("images/16.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    background-color: #ffffff;
    min-height: 710px;
    position: relative;
}
.shemaTop {
    text-align: center;
    font-size: 26px;
    color: #4f565f;
    font-family: "Tahoma";
    margin-top: 40px;
}
.redText {
    padding-top: 0px;
    color: #b14f7c;
}
.redText h2 {
    font-size: 60px;
    font-weight: bold;
}
.redText b {
    font-size: 80px;
    font-weight: bolder;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.middle {
    text-align: center;
    margin-top: 145px;
}
.underRedText h3{
    color: #90908f;
    font-size: 22px;
}
.textKomp {
    font-size: 24px;
    color: #4f565f;
    font-weight: bold;
}
.redTextbottom {
    margin-top: 160px;
}





















.effect-section {
    background-image: url(images/17-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: /*fixed;*/ scroll;
    background-size: cover;
    /*background-color: #ffffff;*/
    min-height: 910px;
    position: relative;


}

.effectTop {
    font-size: 40px;
    color: #264796;
    margin-top: 40px;
}
.effect {
    text-align: center;
    font-size: 40px;
    color: #b14f7c;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 28px;
}
.effectText {
    line-height: 22px;
    font-size: 16px;
}






















/* Back to top button */
#back-to-top{
    position:fixed;
    z-index: 999;
    display:none;
    bottom:70px;
    right:15px;
    cursor:pointer;
}
#back-to-top i{
    width: 35px;
    height: 35px;
    display:block;
    color: #fff;
    background: #264796;
    text-align:center;
    font-size:16px;
    line-height: 35px;
    border-radius: 5px;
    -webkit-transition:  .3s all;
    -moz-transition:  .3s all;
    -ms-transition:  .3s all;
    -o-transition:  .3s all;
    transition:  .3s all;
}
#back-to-top i:hover{background:#333;}


.bannerButton2 {

    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 17px;
}



.contact-section {
    background-color: #fdfdfd;
    background-image: url("images/contact1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 485px;
    position: relative;
}
.contactSectionMiddle {
    text-align: center;
    color: #4f565f;
    margin-top: 40px;
    margin-bottom: 25px;

}


.panel-castom {
    background-color: rgba(0, 0, 0, 0);
    border: #fdfdfd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin-top: 6px;
}

.panel-title {
    font-size: 18px;
    color: #4f565f;
    text-align: right;
}



.bottom-contact {
    /*text-align: right;*/
    padding-top: 17px;
    text-align: left;
}


.bottom-info li {
    /*display: inline-block;*/
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 37px;
    font-size: 18px;
    white-space: nowrap;
    list-style-type: none;
}
.bottom-info a {
    color: #4f565f;
}
.glyphicon-earphone, .glyphicon-envelope, .glyphicon-paperclip {
    color: #264796;
    top: 4px;
}
.map {
    margin-top: 0px;
}






























@font-face {
    font-family: "a_AntiqueTitulGr";
    src: url("fonts/a_AntiqueTitulGr.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
































